<ul class="navigation">
  <li><a class="home" href="/posts">Home</a></li>
  <li><a href="/users/{{session_user._id}}"><img width="50" height="50" src={{session_user.picture}}></a></li>
  <li><a href="/users/{{session_user._id}}">Profile</a></li>
  <li><a class="new-post-link" href="/posts/new">New Post</a></li>
  <li><form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log Out">
    </form> </li>
</ul>

<h1>Search Results:</h1>

{{#each collection}}
<p>{{this.username}} <a href="/users/{{this.user._id}}">Go to Profile</a></p>
<img width="50" height="50" src={{this.user.picture}}
<div>

</div>
{{/each}}